body {
    font-family: Arial, Helvetica, sans-serif
}

.productPage{
    display: flex;
    justify-content: centre;
}

.breadcrumb {
    color: #565959;
    font-weight: lighter;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: 300px;
}

.meta-data {
    padding: 25px;
}

.title {
    font-weight: lighter;
}

.rating {
    width: 120px;
}

a {
    color: #007185;
}